.card {
  position: relative;
  aspect-ratio: 1/1.3;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  &__info {
    z-index: 2;
    position: relative;
    bottom: 0px;
    align-self: end;
    background: linear-gradient(transparent, black);
    width: 100%;
    color: white;
    backdrop-filter: blur(5px);
    padding: 10px;
  }
  &__image {
    position: absolute;
    height: 110%;
    left: 0px;
    top: 0px;
    aspect-ratio: 1/1;
  }
}
